
### macOS ###
# General
.DS_Store

### .NET ###
# Build results
bin/
obj/

# .NET Core
*.lock.json

### Visual Studio ###
./vs

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide